@font-face {
    font-family: 'Vazirmatn';
    src: url('/_content/TMPersianDatePicker/Fonts/Vazirmatn-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Persian-date-picker {
    position: relative;
    font-family: 'Vazirmatn', sans-serif;
    margin-top: 3px;

    .input-lable {
        margin-right: 12px;
        margin-bottom: 4px;
    }

    .input-wrapper {
        position: relative;
        width: 100%;

        .p-date {
            width: 100%;
            font-size: 16px;
            text-align: center;
            border: 1px solid #ced4da;
            border-radius: 4px;
            line-height: 27px;
            color: #212529;
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
            direction: ltr;
  /*          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/

            &:focus-visible {
                outline: 0;
                box-shadow: 0 0 5px rgba(70, 130, 180, 0.5);
            }
        }

        .error {
            outline: none;
            box-shadow: 0 0 0 1px red;
        }

        .clear {
            position: absolute;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 15px;
            top: 5px;
            color: #bbb8b8;
            font-weight: 100;

            &:hover {
                cursor: pointer;
            }
        }

        .validation-message {
            color: red;
            font-size: 14px;
            font-weight: bold;
            direction: rtl;
            text-align: right;
            margin-top: 5px;
        }

        .validation-message:empty {
            display: none;
        }
    }

    .Persian-date-wrapper {
        position: fixed !important;
        z-index: 99999;
        transform: translateY(1px);
        background: #fff;
        width: 200px;
        direction: rtl;
        //display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 7px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .month-select {
            display: grid;
            font-size: 14px;
            grid-template-columns: 60px 60px 60px;
            grid-column-gap: 2px;
            direction: rtl;

            a {
                width: 60px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;


                &:hover {
                    background: #e3f2fd;
                    color: #0d47a1;
                    cursor: pointer;
                }
            }
        }

        .year-select {
            display: flex;
            font-size: 16px;
            grid-template-columns: 60px 60px 60px;
            grid-column-gap: 2px;
            justify-content: left;
            gap: 10px;
            direction: ltr;
            flex-wrap: wrap;
            max-height: 150px;
            overflow-y: auto;

            a {
                width: 40px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                transition: all 0.2s ease;

                &:hover {
                    background: #e3f2fd;
                    color: #0d47a1;
                    cursor: pointer;
                }
            }
        }

        .year {
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            align-items: center;
            height: 28px;

            span {
                font-weight: bold;
                cursor: pointer;
                color: #212529;
            }

            .navigation {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 17px;
                border-radius: 17px;
                transition: all 0.1s ease;

                &:hover {
                    background: #e6e6fa;
                    cursor: pointer;
                }
            }
        }


        .month {
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            align-items: center;
            height: 28px;

            span {
                font-weight: bold;
                cursor: pointer;
                color: #212529;
            }

            .navigation {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 17px;
                border-radius: 17px;
                transition: all 0.1s ease;

                &:hover {
                    background: #e6e6fa;
                    cursor: pointer;
                }
            }
        }

        .week {
            display: grid;
            grid-template-columns: repeat(7, 27px);
            direction: rtl;

            .day-name {
                font-size: 15px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
            }

            .day {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 27px;
                height: 27px;
                font-size: 14px;
                position: relative;
                cursor: pointer;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: inherit;
                    border-radius: 4px;
                    transition: all 0.2s ease;
                }

                &:hover a {
                    background: #dcdcdc;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transform: scale(1.1);
                }

                &.current a {
                    background-color: #4db2ef;
                    color: #fff;
                    font-weight: bold;
                }

                &.friday a {
                    color: red;
                    font-weight: bold;
                }

                &.holiday a {
                    color: red;
                    font-weight: bold;
                }
            }
        }
    }

    .goto-today {
        margin: 10px 0;
        text-align: center;

        .today-button {
            font-size: 14px;
            font-weight: bold;
            color: #007bff;
            background-color: #f0f8ff;
            text-decoration: none;
            border-radius: 4px;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background: #dcdcdc;
                cursor: pointer;
                border-radius: 4px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }
        }
    }
}