@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using TMComponents.PersianDatePickerComponent

<h3>انتخاب بازه تاریخ</h3>


<EditForm Model="@Model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="col-md-4 mt-3">
        <input />
        <TMDatePicker @bind-Date="Model.date1"
                      For="()=>Model.date1"
                      Immediate="true" />
        <TMDatePicker @bind-Date="Model.date2"
                      For="()=>Model.date2"
                      Immediate="true" />
        <TMDatePicker @bind-Date="Model.date3"
                      For="()=>Model.date3"
                      Immediate="true" />
    </div>
    <div class="col-12 mt-2">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>

@code {

    Student Model { get; set; } = new();

    // void DateChanged(DateTime? value)
    // {
    //     Console.WriteLine($"Date Changed: {value}");
    // }

    public class Student
    {
        [Required(ErrorMessage = " ")]
        public DateTime? date1 { get; set; }

        [Required(ErrorMessage = " ")]
        public DateTime? date2 { get; set; }

        [Required(ErrorMessage = " ")]
        public DateTime? date3 { get; set; }
    }

    void Submit()
    {

    }
}
